body {
    background-image: url('https://www.nicepng.com/png/detail/328-3289788_money-flying-in-the-air.png');
    background-size: contain;
}


span {
    color: whitesmoke
}

table {
    background-color: white;
  
}

button {
    background-color: white;
}